*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightblue;
}

#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info div{
    padding: 3rem;
    background: lightcoral;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
}