*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    line-height: 50px;
    background-color: lightblue;
}

h2{
    font-size: 2.5rem;
}

button{
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color:aquamarine;
    margin: 5px;
    cursor:pointer;
}